.vscode
/build
/target
/pemdas
/slow
/TODOs
/prototypes
/*.slo
/coverage.*
/.coverdata
*.TODO
*.cov
node_modules
.vscode
/docs/public
/docs/resources
/docs/static/js/main.wasm
/docs/static/js/wasm_exec.js
