.site-title::before {
  background-image: url(/assets/img/favicon.ico);
  background-size: 32px;
  content: ' ';
  display: inline-block;
  height: 32px;
  margin-right: 1rem;
  vertical-align: text-top;
  width: 32px;
}
